@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Montserrat:wght@200;300;400;500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blog .blog__post:nth-child(odd) .post__content h4, .blog .blog__post:nth-child(even) .post__content h4, .under-hero .under-hero__content h4, header nav ul {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.blog .blog__post:nth-child(odd) .post__content h3, .blog .blog__post:nth-child(even) .post__content h3, .under-hero .under-hero__content h3 {
  font-size: 35px;
  font-family: "Cormorant Garamond";
  font-weight: 200;
  text-align: center;
}

.blog .blog__post:nth-child(odd) .post__content a, .blog .blog__post:nth-child(even) .post__content a, .under-hero .under-hero__content a {
  margin-top: 40px;
  width: 200px;
  padding: 20px 0px;
  border: solid 1px;
  border-color: black;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  color: black;
  font-weight: 200;
  transition: all 0.2s linear;
}
.blog .blog__post:nth-child(odd) .post__content a:hover, .blog .blog__post:nth-child(even) .post__content a:hover, .under-hero .under-hero__content a:hover {
  background-color: black;
  opacity: 0.7;
  color: white;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 150px;
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 150px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 70px;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  font-size: 10px;
  text-transform: uppercase;
}
header nav ul:first-child li {
  margin-right: 50px;
}

.hero {
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.11)), url("./../img/main.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 80px;
}
.hero h4 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.hero h3 {
  width: 25%;
  font-size: 45px;
  font-family: "Cormorant Garamond";
  font-weight: 300;
  text-align: center;
}
.hero a {
  margin-top: 40px;
  width: 25%;
  padding: 20px 0px;
  border: solid 1px;
  border-color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  transition: all 0.2s linear;
}
.hero a:hover {
  background-color: white;
  color: black;
  font-weight: 300;
}

.under-hero {
  margin-bottom: 80px;
  height: 70vh;
  display: flex;
}
.under-hero .under-hero__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3ede8;
}
.under-hero .under-hero__content h4 {
  margin-bottom: 40px;
}
.under-hero .under-hero__content h3 {
  width: 90%;
}
.blog {
  margin-bottom: 80px;
  width: 100%;
}
.blog .blog__post:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}
.blog .blog__post:nth-child(even) .post__photo {
  flex: 1;
}
.blog .blog__post:nth-child(even) .post__photo img {
  width: 100%;
}
.blog .blog__post:nth-child(even) .post__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3ede8;
}
.blog .blog__post:nth-child(even) .post__content h4 {
  margin-bottom: 20px;
}
.blog .blog__post:nth-child(even) .post__content h3 {
  width: 90%;
}
.blog .blog__post:nth-child(odd) {
  display: flex;
}
.blog .blog__post:nth-child(odd) .post__photo {
  flex: 1;
}
.blog .blog__post:nth-child(odd) .post__photo img {
  width: 100%;
}
.blog .blog__post:nth-child(odd) .post__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3ede8;
}
.blog .blog__post:nth-child(odd) .post__content h4 {
  margin-bottom: 40px;
}
.blog .blog__post:nth-child(odd) .post__content h3 {
  width: 90%;
}
.gallery {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.gallery img {
  width: 100%;
  transition: all 0.2s linear;
}
.gallery img:hover {
  transform: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.11));
}

/*# sourceMappingURL=styles.css.map */
